/* CUSTOM CLASSES FOR LOCATIONS.JS */

#container.start {
    color: pink;
}

.secretroomBg {
    background-color: pink;
}

.secretroomContainer {
    color: black;
}

button.secretroomButton {
    color: black;
    background: none;
    border: 1px solid black;
}

button.secretroomButton:hover {
    color: blue;
    border: 1px solid blue;
}