html {
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    float: left;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    margin: 0;
    padding: 0;
}

body.std {
    color: rgb(250, 250, 250);
    background-color: rgb(5, 5, 5);
}

#bg_layer_top, #bg_layer_bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
}

#bg_layer_top {
    z-index: -5;
}

#bg_layer_top.std {
    background-color: rgb(5, 5, 5);
}

#bg_layer_bottom {
    z-index: -10;
}

#bg_layer_bottom.std {
    background-color: rgb(5, 5, 5);
}

header {
    font-size: 1.2rem;
    position: absolute;
    z-index: 8;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.3em;
    box-sizing: border-box;
    text-align: right;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -ms-transition: opacity 500ms ease-in-out;
}

header a:link, header a:visited, header a:hover, header a:active {
    background: none;
    text-decoration: none;
    border: 0;
}

header #inventoryBtn {
    position: relative;
    float: left;
    padding: 0.4em;
    display: block;
    color: white;
    background-color: rgb(0, 68, 131);
    border-radius: 8px;
}

header #inventoryBtn:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

header #soundBtn, header #fsBtn {
    display: inline-block;
    width: 32px;
    height: 32px;
}

header .sound_on {
    background: url('img/icon_sound_on.png') top left no-repeat;
}

header .sound_on:hover {
    background: url('img/icon_sound_on_hover.png') top left no-repeat;
}

header .sound_off {
    background: url('img/icon_sound_off.png') top left no-repeat;
}

header .sound_off:hover {
    background: url('img/icon_sound_off_hover.png') top left no-repeat;
}

header .fs_enter {
    background: url('img/icon_fs_enter.png') top left no-repeat;
}

header .fs_enter:hover {
    background: url('img/icon_fs_enter_hover.png') top left no-repeat;
}

header .fs_exit {
    background: url('img/icon_fs_exit.png') top left no-repeat;
}

header .fs_exit:hover {
    background: url('img/icon_fs_exit_hover.png') top left no-repeat;
}

#container {
    font-size: 1.1rem;
    max-width: 40rem;
    margin: 0 auto;
    padding: 0.5em;
    padding-top: 12vh;
}

#container.std {
    color: rgb(250, 250, 250);
}

button {
    font-size: 1em;
    left: 20px;
    padding: 0.6em;
    text-align: left;
    transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
    -webkit-transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
    -moz-transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
    -ms-transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
}

button.std {
    color: rgb(250, 250, 250);
    background: none;
    border: 0;
    border-bottom: 2px solid rgb(250, 250, 250);
}

button.std:hover {
    color: black;
    background-color: rgb(250, 250, 250);
}

#feedback, #menu_feedback {
    position: absolute;
    z-index: 20;
    background-color: rgb(0, 68, 131);
    color: rgb(250, 250, 250);
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -ms-transition: opacity 500ms ease-in-out;
}

#feedback {
    top: 8vh;
    max-width: 40rem;
    padding: 0.2em 0.5em 0.2em 0.5em;
}

#debugstats {
    font-size: 0.85em;
    position: absolute;
    z-index: -2;
    left: 10px;
    top: 60px;
    width: 500px;
    margin-left: 10px;
    overflow: hidden;
    color: #bbb;
    display: none;
}

#debugstats ul {
    margin: 0;
}

#debugstats li {
    margin-left: 1em;
}

#err {
    background-color: red;
}


/* LINKS & BUTTONS */
a:link, a:visited {
    padding: 0 0.2em;
    text-decoration: none;
    border-width: 0;
    border-bottom: 2px solid rgb(250, 250, 250);
    color: rgb(250, 250, 250);
    background: none;
    transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
    -webkit-transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
    -moz-transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
    -ms-transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
}
a:hover { 
    color: rgb(5, 5, 5);
    background-color: rgb(250, 250, 250);
}

a:active {
    color: rgb(5, 5, 5);
}

a.useOn:link, a.useOn:visited {
    color: rgb(250, 250, 250);
    background-color: #01a767;
}

#choices li, #menu_options li {
    margin-bottom: 0.3em;
}


/* GENERAL STYLING */
h1 { margin: 0 }

ul, li{
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}

#text ul {
    padding-left: 2em;
}

#text li {
    list-style-type: disc;
}

.blur {
    filter: blur(2px);
}

.show {
    opacity: 1;
}

.hide {
    display: none;
}

.cutscene {
    display: inline;
}

.cutscene p, .cutscene div, .cutscene ul, .cutscene h1, .cutscene h2, .cutscene h3, .cutscene h4, .cutscene h5, .cutscene h6 {
    display: inline-block;
}

.waitForFade {
    visibility: visible;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -ms-transition: opacity 500ms ease-in-out;
}


/* ADJUSTMENTS FOR LARGER SCREENS */
@media screen and (min-width: 900px) {

    #container {
        font-size: 1.3rem;
    }

    #menu_container {
        font-size: 1.2em;
        height: 80%;
    }

}